@use '../../styles/font' as font-v;
@use 'styles/color' as color-v;
@use "sass:color";

%btn-type-share {
  background: none;
  border: 1px solid color-v.$gray-500;
  outline: none;

  cursor: pointer;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &.btn-disable {
    cursor: not-allowed;
    opacity: 0.65;

    > * {
      pointer-events: none;
    }
  }
}

.btn-type-default {
  @extend %btn-type-share;

  &:not(.btn-disable):hover {
    border: 1px solid color-v.$blue;
    color: color-v.$blue;
  }
}
.btn-type-primary {
  @extend %btn-type-share;
  background-color: color-v.$blue;
  color: color-v.$white;
  border-color: color-v.$blue;

  &:not(.btn-disable):hover {
    background-color: lighten(color-v.$blue, 10%);
    border-color: lighten(color-v.$blue, 10%);
  }
}
.btn-type-danger {
  @extend %btn-type-share;
  color: color-v.$red;
  border-color: color-v.$red;

  &:not(.btn-disable):hover {
    color: lighten(color-v.$red, 15%);
    border-color: lighten(color-v.$red, 15%);
  }
}
.btn-type-link {
  @extend %btn-type-share;
  color: color-v.$blue;

  background: none;
  border: none;
  box-shadow: none;

  &:hover {
    color: lighten(color-v.$blue, 10%)
  }

  & > a {
    color: color-v.$blue;
    text-decoration: none;

    &:hover {
      color: lighten(color-v.$blue, 10%)
    }
  }

  &.btn-disable {
    color: color-v.$gray-700;
  }
}

@mixin btn-size($padding-x, $padding-y, $border-radius, $font-size) {
  padding: $padding-y $padding-x;
  border-radius: $border-radius;

  font-size: $font-size;
  font-weight: 400;
}
.btn-size-normal {
  @include btn-size(0.75rem, 0.375rem, 0.25rem, font-v.$font-size-base);
}
.btn-size-large {
  @include btn-size(1rem, 0.5rem, 0.3rem, font-v.$font-size-lg);
}
.btn-size-small {
  @include btn-size(0.5rem, 0.25rem, 0.3rem, font-v.$font-size-sm);
}
